.home-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-body {
  display: flex;
  flex: 1;
}

.content-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
