.forgotpassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #55D6C2;
  font-family: 'Arial', sans-serif;
}

.forgotpassword-box {
  background: #EFEDED80;
  padding: 2rem 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 700px;
  max-width: 700px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.forgotpassword-title {
  color: #333;
  margin-bottom: 1rem;
  font-size: 32px;
  font-weight: 700;
}

.instruction-text {
  color: #000000;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  max-width: 350px;
  font-weight: 400;
  font-size: 18px;
}

.input-group {
  position: relative;
  margin-bottom: 1.5rem;
  width: 300px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input-group input:focus {
  outline: none;
  border-color: #4a90e2;
}

.input-group input[type="email"]::placeholder {
  color: #000000; 
}

.forgotpassword-button {
  width: 165px;
  padding: 12px;
  background-color: #03CC17;
  color: white;
  border: none;
  border-radius: 13px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1.5rem;
}

.signin-button {
  width: 165px;
  padding: 12px;
  background-color: #0769DC;
  color: white;
  border: none;
   border-radius: 13px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1.5rem;
}

a{
     text-decoration: none;
     color: white;
}

.forgotpassword-button:hover {
  background-color: #3a7bc8;
}

.auth-links {
  margin-top: auto;
}

.auth-links a {
  color: #4a90e2;
  text-decoration: none;
  font-size: 0.9rem;
}

.auth-links a:hover {
  text-decoration: underline;
}

.success-message {
  color: #333;
  margin: 2rem 0;
  max-width: 350px;
  line-height: 1.5;
}